doctype
html
   head
      title Hola mundo
      link(rel="stylesheet", href="assets/css/style.css", attr)
      link(rel="stylesheet", href="assets/css/flexboxgrid.min.css", attr)
   body
      section
         article(class='not row')
            div(class='noti') 3
            img(src="img/not.svg", class='col-sm-12', alt="Notificacion")
         
         div(class='rojo')
         article(class='row art_t')
            div(class='col-sm-2 cj-t')
               img(src="img/profile.jpg", alt="Profile")
            div(class='col-sm-10 row middle-sm')
               h1(class='pad col-sm-12') Jane Hayworth
               p(class='pad col-sm-12') Replied to your comment in 
                  span Textbook Exchange
               p(class='now pad col-sm-12') Now
               
         div(class='rojo')
         article(class='row art_t')
            div(class='col-sm-2 cj-t')
               img(src="img/profile.jpg", alt="Profile")
            div(class='col-sm-10 row middle-sm')
               h1(class='pad col-sm-12') Angie Clark
               p(class='pad col-sm-12') Commented on your post in 
                  span Euro Girls Trip
               p(class='now pad col-sm-12') 10 minutes ago
            
         div(class='rojo')
         article(class='row art_t')
            div(class='col-sm-2 cj-t')
               img(src="img/profile.jpg", alt="Profile")
            div(class='col-sm-10 row middle-sm')
               h1(class='pad col-sm-12') Jane Hayworth
               p(class='pad col-sm-12') And 3 others liked your photo album 
                  span Summer '16
               p(class='now pad col-sm-12') 2 hours ago
               

         
             
